<h2>Edit <%= @song.title %></h2>

<form method="post" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="put">

  <label for="song[name]">Title:</label>
  <input type="text" name="song[title]" value="<%= @song.title %>">

  <label for="song[preview_url]">Preview URL:</label>
  <input type="text" name="song[preview_url]" value="<%= @song.preview_url %>">

  <label for="song[album]">Album:</label>
  <input type="text" name="song[album]" value="<%= @song.album %>">

  <label for="song[artist_id]">Artist Id:</label>
  <input type="text" name="song[artist_id]" value="<%= @song.artist_id %>">

  <input type="submit" value="Update">

</form>

<form method="post" action="/songs/<%= @song.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
